@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #ED563B;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
    font-size: 33px;
    font-weight: 900;
    color: white;
    font-family: "Inter", sans-serif;
}

.logo span {
    color: var(--color);
}

.navbar {
    display: flex;
    align-items: center;
}

.parent-list {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.list-anchor {
    text-decoration: none;
    padding: 0 18px;
    color: white;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    transition: all .3s ease;
}


.list-anchor:hover {
    color: var(--color);
}

.common-btn {
    text-decoration: none;
    margin-left: 25px;
    background-color: var(--color);
    color: white;
    padding: 10px;
    transition: all .3s ease;
}

.common-btn:hover {
    background-color: #ed563bc6;

}

header {
    position: relative;
    z-index: 2;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.128);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.263);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;


}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero-content {
    position: absolute;
    top: 45%;
    left: calc(50% - 50%);
    z-index: 1;
    width: 100%;
    text-align: center;
}

.content-heading {
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.gym-heading {
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    font-family: "Inter", sans-serif;
    margin-bottom: 25px;
}

.gym-heading span {
    color: var(--color);
}

/*  */
.menu-btn {
    display: none;
}


@media (max-width: 992px) {
    .logo {
        font-size: 20px;
    }

    .container {
        padding: 0 10px;
    }

    .list-anchor {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .common-btn {
        display: none;
    }

    .list-anchor {
        display: none;
    }

    .menu-btn {
        display: block;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        color: white;

    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .parent-list {

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10001;
        width: 100%;
        background: #222;
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;

        transition: max-height .4s ease;
    }

    .parent-list.active {

        max-height: 320px;


    }

    .list-anchor {
        display: block;
        color: white;
        margin-bottom: 10px;

    }



}

@media (max-width: 768px) {
    .content-heading {
        font-size: 20px;
    }

    .gym-heading {
        font-size: 55px;
    }


}

@media (max-width: 576px) {
    .gym-heading {
        font-size: 40px;
        font-weight: 700;

    }

    .content-heading {
        font-size: 18px;
    }
}

.hero-btn {
    padding: 10px;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    transition: all .3s ease;
}

.hero-btn:hover {
    background-color: #ed563bc6;

}

.choose-program {
    padding: 80px 0;

}

.sec-heading {
    margin-bottom: 60px;
    text-align: center;
}

.choose-heading {
    font-size: 25px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    margin-bottom: 15px;
}

.choose-heading span {
    color: var(--color);
}

.choose-para {
    margin-top: 10px;
    line-height: 25px;
    font-family: "Inter", sans-serif;
    color: rgb(120, 120, 120);
}

.main-img {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 100%;
    width: 48%;
    gap: 20px;


}

@media (max-width: 768px) {
    .main-img {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width: 576px) {
    .main-img {
        display: flex;
        flex-direction: column;

    }

    .about-text {
        text-align: center;
    }

    .about-heading {
        text-align: center;
    }

    .about-btn {
        display: block;
        text-align: center;
    }

}

.about-heading {
    font-size: 17px;
    font-weight: 600;
    font-family: "Inter", sans-serif;

}

.about-text {
    font-size: 15px;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    color: rgb(120, 120, 120);
    margin: 5px 0;

}

.about-btn {
    color: var(--color);
    text-decoration: none;
    font-family: "Inter", sans-serif;

}

.parent-img-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.third-section {
    height: 350px;

}

.background-image {
    background-image: url(../images/images.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    color: white;

}

.second-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.788);
}


.begin-think {
    font-size: 40px;
    font-weight: 800;
    font-family: "Inter", sans-serif;

}

.begin-think span {
    color: var(--color);
}

.dummy-para {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    line-height: 24px;
    margin: 15px 0;

}

@media (max-width: 576px) {
    .begin-think {
        font-size: 28px;
    }

    .dummy-para {
        font-size: 16px;
    }

}

.fourth-section {
    padding: 80px 0;
}

.parent-classes-btn {
    display: flex;
    gap: 50px;
}

.left-control {
    width: 30%;
    height: 100%;
}

.right-cards {
    width: 70%;
    height: 100%;
}

.training-img {
    width: 100%;
    max-height: 270px !important;
    object-fit: cover;
    border-radius: 10px;
}

.tabs {
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 10px 1px #00000021;
    padding: 20px 30px;
    margin-bottom: 25px;
}

.class-heading {
    font-family: "Inter", sans-serif;
    margin: 20px 0;

}

.class-para {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    color: gray;
    line-height: 25px;
    margin-bottom: 20px;
}

.tabs span {
    font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .tabs span {
        font-size: 17px;
        padding: 0;
    }


}

.Schedule-btn {
    text-decoration: none;
    color: white;
    background-color: var(--color);
    font-family: "Inter", sans-serif;
    padding: 10px 20px;
    transition: all .3s ease;
}

.Schedule-btn:hover {
    background-color: #ed563bea;
}

.tabs.sec-active {
    color: var(--color) !important;
}

.all-schedule {
    color: white;
    background-color: var(--color);
    text-align: center;
    display: block;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    padding: 20px;
    transition: all .3s ease;
}

.all-schedule:hover {
    background-color: #ed563bea;
}

@media (max-width: 768px) {
    .parent-classes-btn {
        flex-direction: column;

    }

    .tabs {
        display: flex;
    }

    .left-control {
        width: 100%;

    }

    .right-cards {
        width: 100%;
    }


}

.fifth-section {
    position: relative;
}

.schedule-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.815)),
        url("../images/product-detail-banner.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    width: 100%;
    color: white;
    text-align: center;
}

.days {
    text-align: center;
}

.day {
    background: none;
    color: white;
    border: 0;
    margin-right: 10px;
    margin-bottom: 45px;
    transition: all .3s ease;
}

.day:hover {
    color: var(--color);
}

.day::after {
    content: "/";
    margin-left: 10px;
}

.schedule-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    margin: auto;
}

@media (max-width: 768px) {
    .schedule-table {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    .cell {
        min-height: 85px;
        font-size: 13px !important;
        font-weight: 400 !important;
    }

}

.cell {
    min-height: 100px;

    border: 1px solid rgba(255, 255, 255, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 17px;
    font-weight: 600;
}

.third-active {
    color: var(--color);
}
.classes-para {
    color: white;
}